/*
    TideOS Theme
    by LemonCat233
*/


/* ———— 0. 引入 ———— */
/* 无衬线 */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* 有衬线 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


/* ———— 1. 全局 ———— */
:root {
    /* FONTS */
    font-size: 15px;
    --header-h1-font: "Red Hat Display", sans-serif;
    
    /* DIY colors [全是RGB] */
    --main-color: 6, 9, 27;
    --accent-color: 240, 214, 148;
    --black-color: 0, 0, 0;
    
    --text-color: 255, 255, 255;
    --header-h1-color: 223, 226, 242;
    
    /* Element colors [全是RGBA，没写透明度就是引用的那个有] */
    --transparent-color: 0, 0, 0, 0;
    
    --header-bg-color: var(--main-color), 0.775;
    --header-txt-color: var(--text-color), 1;

    --topbar-bg-color: var(--transparent-color);
    --topbar-txt-color: var(--header-txt-color);
    --topbar-hover-bg-color: var(--header-bg-color), 0.5;
    --topbar-hover-txt-color: var(--topbar-txt-color);
    --topbar-drop-bg-color: var(--header-bg-color);
    --topbar-drop-txt-color: var(--topbar-txt-color);
    --topbar-drop-border-color: var(--header-h1-color), 0.075;
    
    --search-bg-color: var(--topbar-bg-color);
    --search-hover-bg-color: var(--topbar-hover-bg-color);

    --user-bg-color: var(--topbar-bg-color);
    --user-icon-border-color: var(--header-h1-color);
    --user-hover-bg-color: var(--topbar-hover-bg-color);
    --user-hover-icon-border-color: var(--user-icon-border-color);
    --user-drop-bg-color: var(--black-color), 0.8;
    --user-drop-txt-color: var(--topbar-txt-color);
    --user-hover-drop-bg-color: var(--accent-color), 1;
    --user-hover-drop-txt-color: var(--user-drop-bg-color);
    
    
    /* DISTANCES [只放了常用的] */
    --header-height: 2.5rem;
    --header-h1-padding: 5rem;
    --header-backdrop-blur: blur(2px);
    
    --topbar-height: var(--header-height);
    --topbar-height-on-mobile: calc(var(--header-height) * 1);
    
    --logo-image: url("https://brsandbox-pro.wikidot.com/local--files/secret:origin-beach/TheBackroomsCN_logo.svg");
    --logo-paddingY: calc(var(--header-height) * 0.1);
    --logo-paddingX: calc(var(--header-h1-padding) * 0.1);
    
    --user-icon-padding: 0.2rem;
    --user-drop-width: 18rem;
    --user-drop-height: 9rem;
    --user-drop-column-width: calc(var(--user-drop-width) * 1/2);
    --user-drop-row-height: calc(var(--user-drop-height) * 1/3);
}


/* ———— 2. 版头 ———— */
#header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: calc(var(--header-h1-padding) * 2) auto var(--header-height) var(--header-height);
    grid-template-areas: "h1 top-bar search user";
    
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: rgba(var(--header-bg-color));
    backdrop-filter: var(--header-backdrop-blur);
    -webkit-backdrop-filter: var(--header-backdrop-blur);
}

#header h1 {
    display: block;
    grid-area: h1;

    position: relative;
    width: 100%;
    height: var(--header-height);
    box-sizing: border-box;
}

#header h1 a {
    display: inline-flex;
    justify-content: start;
    align-items: center;

    position: relative;
    width: 100%;
    height: var(--header-height);
    /* [标记点01] */
    /* 这个padding决定了左上角标题文字的位置 */
    padding-left: calc(var(--header-h1-padding) - (var(--header-h1-padding) - var(--logo-paddingX)) * 0.3);
    box-sizing: border-box;
}

#header h1 a span {
    position: relative;
    height: var(--header-height);
    font-size: 0;
    font-family: var(--header-h1-font);
    pointer-events: none;
}

/* 版头：LOGO徽标 */
#header h1 a span::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--logo-paddingY) * 1/2);
    /* [标记点02] */
    /* 这个left决定了LOGO徽标相对span向左偏移了多少 */
    left: calc(var(--header-h1-padding) * -1 + var(--logo-paddingX) + (var(--header-h1-padding) - var(--logo-paddingX)) * 0.3);
    width: calc(var(--header-h1-padding) - var(--logo-paddingX));
    height: calc(var(--header-height) - var(--logo-paddingY));
    background-image: var(--logo-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* [解析点01：标记点01 和 标记点02 的 "*0.3" 来自这里的 "30%" ] */
    -webkit-mask-image: linear-gradient(to right, Black 0%, rgb(0, 0, 0, 0.5) 30%, transparent);
    mask-image: linear-gradient(to right, Black 0%, rgb(0, 0, 0, 0.5) 30%, transparent);
}

/* 版头：左上角标题文字 */
#header h1 a span::after {
    content:"TideOS";
    display: inline-flex;
    justify-content: start;
    align-items: center;

    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: var(--header-height);
/* 
    color: transparent;
    background-image: linear-gradient(to left, rgb(223, 226, 242), White);
    background-clip: text;
    -webkit-background-clip: text;
*/
    color: rgba(var(--header-h1-color));
    font-size: 1.5rem;
    font-weight: 600;
    transform: scaleY(0.9);
}

#header h2 {
    display: none;
}


/* ———— 3. 顶栏 ———— */
#top-bar {
    display: block;
    gird-area: top-bar;

    position: relative;
    width: 100%;
    height: var(--header-height);
}

/* 电脑端顶栏：移动端顶栏 */
#top-bar .mibile-top-bar {
    display: none;
}

/* 电脑端顶栏 */
#top-bar .top-bar {
    display: inline-flex;
    justify-content: start;
    align-items: center;

    position: relative;
    width: 100%;
    height: var(--header-height);
}

/* 电脑端顶栏：一级菜单 */
#top-bar .top-bar > ul {
    display: inline-flex;
    justify-content: start;
    align-items: center;

    position: relative;
    height: var(--header-height);
}

#top-bar .top-bar > ul > li {
    position: relative;
    margin: 0;
    height: var(--header-height);
}

#top-bar .top-bar > ul > li > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: rgba(var(--topbar-bg-color));
    color: rgba(var(--topbar-txt-color)) !important;
    font-size: 0.75rem;
}

#top-bar .top-bar > ul > li:is(.sfhover, :hover, :focus, :active) > a {
    background-color: rgba(var(--topbar-hover-bg-color));
    color: rgba(var(--topbar-hover-txt-color));
    text-decoration: none;
}

/* 电脑端顶栏：二级菜单 */
#top-bar .top-bar > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(var(--topbar-drop-bg-color));
    border: none;
    border-left: 0.5rem solid rgba(var(--topbar-hover-bg-color));
    backdrop-filter: var(--header-backdrop-blur);
    -webkit-backdrop-filter: var(--header-backdrop-blur);
}

#top-bar .top-bar > ul > li > ul > li {
    position: relative;
    height: var(--header-height);
}

#top-bar .top-bar > ul > li > ul > li > a {
    display: inline-flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: var(--header-height);
    padding: 0 1rem 0 0.5rem;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(var(--topbar-drop-txt-color));
    border-top: 1px solid rgba(var(--topbar-drop-border-color));
}

#top-bar .top-bar > ul > li > ul > li:is(.sfhover, :hover, :focus, :active) > a {
    background-color: rgba(var(--topbar-drop-bg-color));
    color: rgba(var(--topbar-drop-txt-color));
    text-decoration: none;
}


/* ———— 4. 搜索 ———— */
#header #search-top-box {
    display: block;
    grid-area: search;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
}

/* 搜索栏：html表单 */
#header #search-top-box #search-top-box-form {
    display: block;
    position: relative;
    width: 100%;
    height: var(--header-height);
}

/* 搜索栏：输入框 */
#header #search-top-box #search-top-box-form #search-top-box-input {
    display: none;
}

/* 搜索栏："搜索"按钮 */
#header #search-top-box #search-top-box-form input.button.btn {
    display: block;
    position: relative;
    width: 100%;
    height: var(--header-height);
    margin: 0;
    padding: 0;
    background-color: rgba(var(--search-bg-color));
    border: none;
    border-radius: 0;
    font-size: 0;
}

#header #search-top-box:is(:hover, :focus, :active) #search-top-box-form input.button.btn {
    background-color: rgba(var(--search-hover-bg-color));
}


/* ———— 5. 用户 ———— */
#login-status {
    display: block;
    grid-area: user;

    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    background-color: rgba(var(--user-bg-color));
    font-size: 0;
    z-index: 99;
}

#login-status:hover {
    background-color: rgba(var(--user-hover-bg-color));
}

#login-status .printuser {
    position: relative;
    width: var(--header-height);
    height: var(--header-height);
    /* 移除默认显示的用户名 */
    font-size: 0;
}

/* 用户：个人信息弹窗链接 */
#login-status .printuser > a {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--header-height);
    height: var(--header-height);
    box-sizing: border-box;
    padding: var(--user-icon-padding);
    background-color: transparent;
}

#login-status:hover .printuser > a {
    background-color: transparent;
}

/* 用户：个人头像 */
#login-status .printuser > a > img.small {
    padding: 0;
    width: calc(var(--header-height) - var(--user-icon-padding) * 2);
    height: calc(var(--header-height) - var(--user-icon-padding) * 2);
    box-sizing: border-box;
    border: 2px solid rgba(var(--user-icon-border-color));
    border-radius: 50%;
    /* 移除Karma值 */
    background-image: none !important;
}

#login-status:hover .printuser > a > img.small {
    border: 2px solid rgba(var(--user-hover-icon-border-color));
}

/* 用户：“▼”按钮 */
#login-status #account-topbutton {
    display: none;
}

/* 用户：“我的账户”链接 */
#login-status #my-account {
    display: none;
}

/* 用户：账号信息菜单 */
#login-status #account-options {
    display: block !important;
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: var(--user-drop-width);
    height: var(--user-drop-height);
    background-color: rgba(var(--user-drop-bg-color));
    border: none;
    backdrop-filter: var(--header-backdrop-blur);
    -webkit-backdrop-filter: var(--header-backdrop-blur);
    pointer-events: none;
    opacity: 0;
}

#login-status:is(:hover, :focus, :active) #account-options {
    pointer-events: auto;
    opacity: 1;
}

#login-status:is(:hover, :focus, :active) #account-options ul {
    display: grid;
    grid-template-rows: var(--user-drop-row-height) var(--user-drop-row-height) var(--user-drop-row-height);
    grid-template-columns: var(--user-drop-column-width) var(--user-drop-column-width);
    width: var(--user-drop-width);
    height: var(--user-drop-height);
}

#login-status:is(:hover, :focus, :active) #account-options ul li {
    width: var(--user-drop-column-width);
    height: var(--user-drop-row-height);
    margin: 0;
    padding: 0;
}

#login-status:is(:hover, :focus, :active) #account-options ul li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: var(--user-drop-column-width);
    height: var(--user-drop-row-height);
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: rgba(var(--user-drop-txt-color));
    text-decoration: none;
    font-size: 0.9rem;
}

#login-status:is(:hover, :focus, :active) #account-options ul li:is(:hover, :focus, :active) a {
    background-color: rgba(var(--user-hover-drop-bg-color));
    color: rgba(var(--user-hover-drop-txt-color));
}
