/*
    TideOS Theme
    by LemonCat233
*/


/* ———— 0. 引入 ———— */
/* 无衬线 */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* 有衬线 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


/* ———— 1. 全局 ———— */
:root {
    /* FONTS */
    font-size: 15px;
    --header-h1-font: "Red Hat Display", sans-serif;
    
    /* DIY colors [全是RGB] */
    --main-color: 6, 9, 27;
    --transparent-color: 0, 0, 0;
    --text-color: 255, 255, 255;
    --title-color: 223, 226, 242;

    /* Element colors [全是RGBA，没写透明度就是引用那个有] */
    --header-bg-color: var(--main-color), 0.775;
    --header-txt-color: var(--text-color), 1;

    --topbar-hover-bg-color: var(--text-color), 0.5;
    --topbar-hover-txt-color: var(--topbar-txt-color);
    --topbar-drop-bg-color: var(--header-bg-color);
    --topbar-drop-txt-color: var(--topbar-txt-color);
    --topbar-drop-border-color: 223, 226, 242, 0.075;
    
    --search-bg-color: var(--topbar-bg-color);
    --search-hover-bg-color: var(--topbar-hover-bg-color);

    --user-bg-color: var(--topbar-bg-color);
    --user-icon-border-color: var(--header-h1-txt-color);
    --user-hover-bg-color: var(--topbar-hover-bg-color);
    --user-hover-icon-border-color: var(--user-icon-border-color);
    --user-drop-bg-color: 0, 0, 0, 0.8;
    --user-drop-txt-color: var(--topbar-txt-color);
    --user-hover-drop-bg-color: var(--accent-color), 1;
    --user-hover-drop-txt-color: var(--user-drop-bg-color);
    
    
    /* DISTANCES */
    --header-height: 2.5rem;
}


/* ———— 2. 版头 ———— */
#header {

}
